<h2>がちゃ！</h2>

<br>
前提条件入力欄
<br>
<table>
  <tr>
    <th>
      体力
    </th>
    <td>
      ※プルダウン（疲れた　普通　元気）
    </td>
  </tr>
  <tr>
    <th>
      時間
    </th>
    <td>
      ※プルダウン（午前　午後　一日）
    </td>
  </tr>
  <tr>
    <th>
      実行予定日
    </th>
    <td>
      ※日付入力欄
    </td>
  </tr>
</table>

<br>
<%= button がちゃ %>
<hr>
<%= link_to xxxPath '戻る' %>
