<h2>マイページ</h2>


  <table>
    <tr>
      <th>対象年度</th>
      <th>予算額</th>
      <th>残り予算</th>
    </tr>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.target_year %></td>
        <td><%= budget.budget %></td>
      </tr>
    <% end %>
  </table>
<br>
<%= link_to "今年の予算を登録", new_budget_path %>
